SNS_Project/SNS를~1/MenuAnimation/Connected Services/ServiceReference1/DataBaseCtr.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataBaseCtr" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.0.50/wcf/example/helloworldservice?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.0.50/wcf/example/helloworldservice?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.0.50/wcf/example/helloworldservice?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dashboard1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataBaseCtr_FindPost_InputMessage">
    <wsdl:part name="parameters" element="tns:FindPost" />
  </wsdl:message>
  <wsdl:message name="IDataBaseCtr_FindPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindPostResponse" />
  </wsdl:message>
  <wsdl:message name="IDataBaseCtr_AddPost_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPost" />
  </wsdl:message>
  <wsdl:message name="IDataBaseCtr_AddPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPostResponse" />
  </wsdl:message>
  <wsdl:message name="IDataBaseCtr_ConnectDB_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectDB" />
  </wsdl:message>
  <wsdl:message name="IDataBaseCtr_ConnectDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectDBResponse" />
  </wsdl:message>
  <wsdl:message name="IDataBaseCtr_DisConnectDB_InputMessage">
    <wsdl:part name="parameters" element="tns:DisConnectDB" />
  </wsdl:message>
  <wsdl:message name="IDataBaseCtr_DisConnectDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisConnectDBResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataBaseCtr">
    <wsdl:operation name="FindPost">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataBaseCtr/FindPost" message="tns:IDataBaseCtr_FindPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataBaseCtr/FindPostResponse" message="tns:IDataBaseCtr_FindPost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPost">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataBaseCtr/AddPost" message="tns:IDataBaseCtr_AddPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataBaseCtr/AddPostResponse" message="tns:IDataBaseCtr_AddPost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConnectDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataBaseCtr/ConnectDB" message="tns:IDataBaseCtr_ConnectDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataBaseCtr/ConnectDBResponse" message="tns:IDataBaseCtr_ConnectDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisConnectDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataBaseCtr/DisConnectDB" message="tns:IDataBaseCtr_DisConnectDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataBaseCtr/DisConnectDBResponse" message="tns:IDataBaseCtr_DisConnectDB_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataBaseCtr" type="tns:IDataBaseCtr">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindPost">
      <soap:operation soapAction="http://tempuri.org/IDataBaseCtr/FindPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPost">
      <soap:operation soapAction="http://tempuri.org/IDataBaseCtr/AddPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectDB">
      <soap:operation soapAction="http://tempuri.org/IDataBaseCtr/ConnectDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisConnectDB">
      <soap:operation soapAction="http://tempuri.org/IDataBaseCtr/DisConnectDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataBaseCtr">
    <wsdl:port name="BasicHttpBinding_IDataBaseCtr" binding="tns:BasicHttpBinding_IDataBaseCtr">
      <soap:address location="http://192.168.0.50/wcf/example/helloworldservice" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>