SNS_Project/SNS를~1/MenuAnimation/Connected Services/ServiceReference1/helloworldservice1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.50/wcf/example/helloworldservice?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dashboard1" />
  <xs:element name="FindPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ACC_NUM" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dashboard1" minOccurs="0" name="FindPostResult" nillable="true" type="q1:ArrayOfPost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="POST_LINK" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="POST_TEXT" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ACC_NUM" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPostResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectDB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectDBResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DisConnectDB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DisConnectDBResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>