SNS_Project/SNS를~1/MenuAnimation/Connected Services/ServiceReference1/helloworldservice2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dashboard1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dashboard1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPost">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Post" nillable="true" type="tns:Post" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPost" nillable="true" type="tns:ArrayOfPost" />
  <xs:complexType name="Post">
    <xs:sequence>
      <xs:element name="POST_NUM" type="xs:int" />
      <xs:element name="POST_PHOTO" nillable="true" type="xs:string" />
      <xs:element name="POST_TEXT" nillable="true" type="xs:string" />
      <xs:element name="ACC_NUM" type="xs:int" />
      <xs:element name="POST_DATE" nillable="true" type="xs:string" />
      <xs:element name="POST_COUNT" type="xs:int" />
      <xs:element name="POST_LOVE" type="xs:int" />
      <xs:element name="POST_LINK" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Post" nillable="true" type="tns:Post" />
</xs:schema>